@import "tailwindcss";
@import "tw-animate-css";
@import "./fonts.css";
@custom-variant dark (&:is(.dark *));

:root {
  /*Color Palette */
  --black-100: oklch(0 0 0);
  --black-90: oklch(0.1591 0 0);
  --black-80: oklch(0.1822 0 0);
  --black-70: oklch(0.1822 0 0);
  --black-60: oklch(0.2264 0 0);
  --black-50: oklch(0.5658 0 0);
  --white-100: oklch(1 0 0);
  --white-90: oklch(0.9219 0 0);
  --white-80: oklch(0.9791 0 0);
  --yellow: oklch(0.8129 0.1641 82.81);
  --primary: oklch(0.6873 0.1929 39.01);

  /* Fonts */
  /** font-family */
  --font-main-sans: "GeneralSans-Variable", sans-serif;
  /** font-size */
  --heading-1: 4.0625rem;
  --heading-2: 4rem;
  --heading-3: 3rem;
  --heading-4: 2.5rem;
  --heading-5: 2rem;
  --heading-6: 1.9375rem;

  --body-1: 1.25rem;
  --body-2: 1rem;
  --body-3: 0.875rem;

  /** line-height */
  --lh-h1: 1;
  --lh-h2: 1;
  --lh-h3: 1.1;
  --lh-h4: 1;
  --lh-h5: 1;
  --lh-h6: 1.3;

  --lh-body-1: 1.2;
  --lh-body-2: 1.6;
  --lh-body-3: 1.5;

  /** letter-spacing */
  --ls-h1: -0.04em;
  --ls-h2: -0.03em;
  --ls-h3: -0.03em;
  --ls-h4: -0.01em;
  --ls-h5: -0.04em;
  --ls-h6: -0.03em;

  --ls-body-1: -0.02em;
  --ls-body-2: -0.01em;
  --ls-body-3: 0;

  /* Radius */
  --radius: 0.5rem;
  --radius-sm: 1rem;
  --radius-md: 1.5rem;
  --radius-lg: 0.5rem;
  --radius-xl: 2.5rem;

  /* Spacing */
  --mobile: 390px;
  --tablet: 768px;
  --desktop: 1440px;
  --desktop-container: 1120px;
}

.dark {
  /*Color Palette */
  --white-100: oklch(1 0 0);
  --white-90: oklch(0.9219 0 0);
  --white-80: oklch(0.9791 0 0);
  --black-100: oklch(0 0 0);
  --black-90: oklch(0.1591 0 0);
  --black-80: oklch(0.1822 0 0);
  --black-70: oklch(0.1822 0 0);
  --black-60: oklch(0.2264 0 0);
  --black-50: oklch(0.5658 0 0);
  --yellow: oklch(0.8129 0.1641 82.81);
  --primary: oklch(0.6873 0.1929 39.01);
}

@theme inline {
  /*Color Palette */
  --color-wh-100: var(--white-100);
  --color-wh-90: var(--white-90);
  --color-wh-80: var(--white-80);
  --color-bl-100: var(--black-100);
  --color-bl-90: var(--black-90);
  --color-bl-80: var(--black-80);
  --color-bl-70: var(--black-70);
  --color-bl-60: var(--black-60);
  --color-bl-50: var(--black-50);
  --color-primary: var(--primary);
  --color-yellow: var(--yellow);

  /* Fonts */
  /** font-family */
  --font-sans: var(--font-main-sans);

  /** font-size */
  --text-heading-1: var(--heading-1);
  --text-heading-2: var(--heading-2);
  --text-heading-3: var(--heading-3);
  --text-heading-4: var(--heading-4);
  --text-heading-5: var(--heading-5);
  --text-heading-6: var(--heading-6);

  --text-body-1: var(--body-1);
  --text-body-2: var(--body-2);
  --text-body-3: var(--body-3);

  /** line-height */
  --spacing-h1: var(--lh-h1);
  --spacing-h2: var(--lh-h2);
  --spacing-h3: var(--lh-h3);
  --spacing-h4: var(--lh-h4);
  --spacing-h5: var(--lh-h5);
  --spacing-h6: var(--lh-h6);

  --spacing-body-1: var(--lh-body-1);
  --spacing-body-2: var(--lh-body-2);
  --spacing-body-3: var(--lh-body-3);

  /** letter-spacing */
  --tracking-h1: var(--ls-h1);
  --tracking-h2: var(--ls-h2);
  --tracking-h3: var(--ls-h3);
  --tracking-h4: var(--ls-h4);
  --tracking-h5: var(--ls-h5);
  --tracking-h6: var(--ls-h6);

  --tracking-body-1: var(--ls-body-1);
  --tracking-body-2: var(--ls-body-2);
  --tracking-body-3: var(--ls-body-3);

  /* Radius */
  --radius: var(--radius);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);

  /* Spacing */
  --spacing-mobile: var(--mobile);
  --spacing-tablet: var(--tablet);
  --spacing-desktop: var(--desktop);
  --spacing-desktop-container: var(--desktop-container);
}

@layer base {
  body {
    @apply bg-wh-100 font-sans text-bl-100 dark:bg-bl-90 dark:text-wh-100;
  }
  .b1 {
    @apply border border-red-500;
  }
  .b2 {
    @apply border border-violet-500;
  }
  .b3 {
    @apply border border-green-500;
  }
}

/* Utilities */
@utility text-h1 {
  @apply text-heading-1 leading-h1 font-normal tracking-h1;
}
@utility text-h2 {
  @apply text-heading-2 leading-h2 font-medium tracking-h2;
}
@utility text-h3 {
  @apply text-heading-3 leading-h3 font-medium tracking-h3;
}
@utility text-h4 {
  @apply text-heading-4 leading-h4 font-semibold tracking-h4;
}
@utility text-h5 {
  @apply text-heading-5 leading-h5 font-normal tracking-h5;
}
@utility text-h6 {
  @apply text-heading-6 leading-h6 font-medium tracking-h6;
}
@utility text-1 {
  @apply text-body-1 leading-body-1 font-medium tracking-body-1;
}
@utility text-2 {
  @apply text-body-2 leading-body-2 font-medium tracking-body-2;
}
@utility text-3 {
  @apply text-body-3 leading-body-3 font-medium tracking-body-3;
}

html.lenis,
html.lenis body {
  height: auto;
}

html {
  scroll-behavior: auto !important;
}
